<a href="https://colab.research.google.com/github/j-buss/wi-dpi-analysis/blob/dev-adj-inflation/pipeline/python/process/adjInflation/CPI_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)
import seaborn as sns
import matplotlib.pyplot as plt

from google.cloud import bigquery
%matplotlib inline
plt.style.use('bmh')

In [0]:
# Authenticate to GCS.
from google.colab import auth
auth.authenticate_user()

In [0]:
project_id='wi-dpi-010'
dataset_name='2016'

In [0]:
bq_client = bigquery.Client(project=project_id)

In [0]:
sql='''
  SELECT
    id_nbr,
    salary,
    benefits
  FROM
    `{}.{}`
  LIMIT
    1000
'''.format(dataset_name,'2016_BASE')

In [0]:
temp_df = pd.read_gbq(sql, project_id=project_id)

In [30]:
!pip install cpi

Collecting cpi
  Downloading https://files.pythonhosted.org/packages/ca/d1/04e0555d127270aeff9cda013dda91b94e4b968907386997018c3d7eb167/cpi-0.1.15-py2.py3-none-any.whl (25.1MB)
     |████████████████████████████████| 25.1MB 92kB/s
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.6/dist-packages (from cpi) (7.0)
Requirement already satisfied: pandas>=0.23.1 in /usr/local/lib/python3.6/dist-packages (from cpi) (0.25.3)
Collecting python-dateutil>=2.7.3
  Downloading https://files.pythonhosted.org/packages/d4/70/d60450c3dd48ef87586924207ae8907090de0b306af2bce5d134d78615cb/python_dateutil-2.8.1-py2.py3-none-any.whl (227kB)
     |████████████████████████████████| 235kB 62.0MB/s
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from cpi) (2.21.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.1->cpi) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.1->cpi) (1.17.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->cpi) (1.12.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->cpi) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->cpi) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->cpi) (2019.9.11)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->cpi) (1.24.3)
ERROR: botocore 1.13.14 has requirement python-dateutil<2.8.1,>=2.1; python_version >= "2.7", but you'll have python-dateutil 2.8.1 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: python-dateutil, cpi
  Found existing installation: python-dateutil 2.6.1
    Uninstalling python-dateutil-2.6.1:
      Successfully uninstalled python-dateutil-2.6.1
Successfully installed cpi-0.1.15 python-dateutil-2.8.1

In [31]:
import cpi

/usr/local/lib/python3.6/dist-packages/cpi/__init__.py:46: StaleDataWarning: CPI data is out of date. To accurately inflate to today's dollars, you must run `cpi.update()`.
  warnings.warn(StaleDataWarning())

In [0]:
cpi.update()

In [0]:
temp_df['salary_adj'] = temp_df.apply(lambda x: cpi.inflate(x.salary, int(dataset_name)), axis=1)
temp_df['benefits_adj'] = temp_df.apply(lambda x: cpi.inflate(x.benefits, int(dataset_name)), axis=1)

In [40]:
temp_df

     id_nbr  salary  benefits     salary_adj  benefits_adj
0    688913  175320     42352  183428.313508  44310.722871
1    646275  121663     27673  127289.749636  28952.838921
2    627194  181549     68550  189945.396355  71720.345032
3    674556  100000     18723  104624.865108  19588.913494
4    602929   97345     22075  101847.074939  23095.938973
..      ...     ...       ...            ...           ...
995  665804  100000     32714  104624.865108  34226.978371
996  677142  103525     33309  108312.891603  34849.496319
997  591685  122000     41559  127642.335432  43481.047690
998  604048  120691     37424  126272.795948  39154.809518
999  596411   94867     14260   99254.470782  14919.505764

[1000 rows x 5 columns]